/* 
Global Styles
==========================================
*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.btn {
  color: white;
  border: 1px solid white;
  padding: 0.55em 1.35em;
  font-weight: 300;
}
.btn-primary:hover {
  color: yellow;
  border: 1px solid yellow;
}
.btn-primary:focus {
  color: yellow;
  border: 1px solid yellow;
}
.btn-secondary {
  color: black;
  border: 1px solid black;
}
.btn-secondary:hover {
  color: yellow;
  border: 1px solid yellow;
}
.btn-secondary:focus {
  color: yellow;
  border: 1px solid yellow;
}
.nav-brand span,
.title span,
.ft-section-title span,
.ft-section-card-title,
.about-title span,
.rec-title,
.rec-title span,
.rec-card-title span,
.contact-title span,
.footer-social-title span {
  font-weight: 700;
}
/* 
Typography
==========================================
*/
h1,
h2,
h3 {
  font-weight: 300;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 300;
}

/* 
Layout
==========================================
*/
.main-grid {
  display: grid;
  grid-template-columns: minmax(1em 1fr) minmax(0px, 500px) minmax(1em, 1fr);
  grid-column-gap: 2em;
}
.nav-grid {
  display: flex;
}
/* 
Header 
==========================================
*/
.header {
  color: white;
  position: absolute;
  width: 100%;
}
.header-container {
  display: flex;
  padding: 1em;
}

/* 
Navigation 
==========================================
*/
.navigation {
  position: fixed;
  background: #2d3842;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: transform 250ms;
}
.nav-container {
  display: flex;
  justify-content: flex-end;
}
.navigation-open {
  transform: translateX(-100%);
}
.open-nav {
  align-self: start;
  line-height: 0;
  border: 0;
  background: 0;
  color: white;
  cursor: pointer;
  padding: 0.5em;
  margin-left: auto;
  font-size: 1.5em;
}
.close-nav {
  border: 0;
  background: 0;
  color: white;
  font-weight: 700;
  font-size: 3rem;
  cursor: pointer;
  padding: 0.5em;
  position: absolute;
}

.nav-brand {
  align-self: flex-start;
}

.nav-links {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.nav-item {
  margin: 0.25em;
}
.nav-link {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}
.nav-link:hover {
  color: yellow;
}
.nav-link:focus {
  color: yellow;
}
/* 
Hero
==========================================
*/
.hero {
  background-image: url("../img/intro-bg.png");
  background-size: cover;
  background-position: top center;
  padding: 5em 0;
  color: #fff;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.hero-container > * {
  margin: 0.5em;
}

/* 
Featured Section
==========================================
*/
.ft-section-headline {
  text-align: center;
  margin: 1em 0;
}
.ft-section-subtitle {
  color: grey;
  font-weight: 300;
}
.ft-section-title::after,
.rec-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin-top: 10px;
  background: #142c4c;
}
.ft-section-title::after,
.rec-title::after {
  margin-left: auto;
  margin-right: auto;
}

/* Cards */
.ft-section-cards {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

.ft-section-card {
  text-align: center;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  padding-bottom: 2em;
  background: white;
}

.ft-section-card-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ft-section-card-icon {
  margin: 1em;
}
.ft-section-card-feature {
  display: flex;
}
.ft-section-card-link {
  text-decoration: underline;
  color: #142c4c;
}
.ft-section-card-link:hover {
  color: blue;
}
.ft-section-card-link:focus {
  color: blue;
}

/* 
About Me
==========================================
*/
.about-container {
  padding: 1em;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #142c4c;
}
.about-img {
  margin-bottom: 1em;
}

.about-subtitle::after {
  content: "";
  margin-top: 30px;
  border: white;
  display: block;
  width: 60px;
  height: 5px;
  background-color: white;
}
.about-subtitle::after {
  margin-left: auto;
  margin-right: auto;
}
.about-description {
  font-size: 0.75rem;
  font-weight: 300;
  margin-bottom: 3em;
}

/* 
Testimonials Section
==========================================
*/
.rec-heading {
  text-align: center;
  margin-bottom: 2em;
}
.rec-subtitle {
  color: grey;
}

/* 
Carousel Section
==========================================
*/
.carousel {
  text-align: center;
  width: 80%;
  height: 420px;
  margin: 0em auto;
}
/* Set width for media query */

.carousel__track-container {
  height: 50%;
  position: relative;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.carousel__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel__button {
  display: none;
}
.checked {
  color: orange;
}
/* * Media Query */
/* .carousel__button {
  display: none;
  border: 0;
  background: transparent;
  color: black;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
} */

.carousel__button--left {
  left: -50px;
}
.carousel__button--right {
  right: -50px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 2em 0;
  margin: 3em;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgb(0, 0, 0, 0.3);
  margin: 0 12px;
}

.carousel__indicator.current-slide {
  background: rgb(0, 0, 0, 0.75);
}

/* 

==========================================
*/
.rec-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.rec-card {
  text-align: center;
  padding-bottom: 1em;
  background-color: #e1e5ee;
}
.rec-card-description {
  padding: 0 1em;
}
.rec-card-description::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin-bottom: 10px;
  background: #142c4c;
}
.rec-card-description::before {
  margin-left: auto;
  margin-right: auto;
}

/* 
Contact Me
==========================================
*/
.contact {
  background: url("../img/contact-bg.png");
  text-align: center;
}
.contact-heading {
  margin: 3em 0;
}
.contact-card {
  margin: 3em 0;
}
.contact-form-title {
  font-weight: 700;
  color: #142c4c;
}
.contact-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin-top: 10px;
  background: #142c4c;
}
.contact-title::after {
  margin-left: auto;
  margin-right: auto;
}
/* Schedule A free Home Consultation */
.contact-form {
  display: flex;
  flex-direction: column;
  margin: 3em;
}

.contact-input {
  margin: 0.25em 0;
  height: 4em;
}
::placeholder {
  color: #142c4c;
  padding: 0 2em;
}
.contact-textarea {
  height: 9em;
}
.contact-textarea::placeholder {
  padding-top: 1em;
}
.contact-form-btn {
  margin-top: 2em;
  background-color: #142c4c;
  color: white;
  border: 1px solid white;
  padding: 0.75em 1.75em;
  font-weight: 300;
  align-self: center;
}

/* 
Footer
==========================================
*/
.footer-img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.footer {
  padding: 1em;
  color: white;
  background-color: #142c4c;
}
.footer a {
  color: white;
}
.footer-social-title {
  margin: 1em;
}
.footer-social {
  text-align: center;
  margin: 2em;
}
.footer-social-link {
  margin: 0 0.3em;
}

.footer-nav {
  text-align: center;
  margin-bottom: 2em;
}
.footer-location {
  text-align: center;
}
.footer-copywright {
  margin: 2em;
  text-align: center;
}
.footer-copywright::before {
  content: "";
  display: block;
  width: 17em;
  height: 0.05em;
  margin-bottom: 2em;
  background: white;
}
.footer-copywright::before {
  margin-left: auto;
  margin-right: auto;
}
#map {
  width: 100%;
  height: 20em;
  background-color: grey;
}
